.app__laurels_item{
    flex-direction: row;
}

.app__laurels_item-content{
    margin-left: 2rem ;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.app__laurels_item-content h3{
    font-family: var(--font-base);
    font-size: 1.5rem;
    font-weight: 700;
    color:var(--color-golden);
    margin-bottom: 0.5rem;
}

.app__laurels_item-content p{
    font-size: 1.2rem;
    font-weight: 200;
    color:var(--color-grey);
    line-height: 22px;
}

.app__laurels_item-img img {
    width: 75px;
    height: 75px;
}

